.postPropertyPage {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: #fafbfb;
}

.pgLocation {
	width: 888px;
	height: auto;
	background: #ffffff;
	box-shadow: 0px 0px 12px 2px rgba(39, 101, 221, 0.05);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
	gap: 4px;
	width: 413px;
	height: 64px;
}

.yourPg {
	width: 413px;
	height: 32px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	color: #091e42;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.help {
	width: 413px;
	height: 28px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #7a8699;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}

.post-property-form-group {
	box-sizing: border-box;
	width: 352px;
	height: 60px;
	right: 780px;
	border: 1px solid #dfe2e6;
	border-radius: 4px;
}

.post-property-form-label {
	width: auto;
	height: 20px;
	margin-left: 12px;
	margin-top: 8px;
	margin-bottom: 0px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 20px;
	color: #6b788e;
}

.post-property-form-control,
.post-property-form-select {
	width: 340px;
	height: 24px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #091e42;
	border: none;
}

.post-property-form-control:focus,
.post-property-form-select:focus {
	box-shadow: none;
}

.post-property-form-select {
	padding-top: 0px;
	padding-bottom: 0px;
}

.button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 12px 36px;
	gap: 8px;
	width: 200px !important;
	height: 48px;
	background: #2765dd;
	border-radius: 8px;
	margin-top: 40px;
}
