.legend {
	box-sizing: border-box;
	width: 440px;
	height: 100%;
	background: #ffffff;
	border: 1.5px solid #ebedf0;
	border-radius: 20px;
	padding: 48px 24px;
	padding-bottom: 8px;
}

.legend .completed,
.legend .current,
.legend .upcoming {
	display: flex;
	align-items: center;
	font-weight: bold;
	margin-bottom: 20px;
	position: relative;
}

.legend .completed {
	color: gray;
}

.legend .current {
	color: #0c66e4;
}

.legend .upcoming {
	color: gray;
}

.circle {
	width: 40px;
	height: 40px;
	background: #dfe2e6;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	position: relative;
}

.circle.completed {
	background: var(--Primary, #0c66e4);
	color: white;
}

.circle.current {
	background: #007bff;
	color: white;
}

.circle.upcoming {
	background: gray;
	color: white;
}

.numbers {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;
	color: #ffffff;
}

.title {
	width: 150px;
	height: 24px;
	margin-left: 7.5px;
	margin-bottom: 20px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #6b788e;
}

.list-group-item {
	padding: 0px 16px 0px 16px;
	text-decoration: none;
	background-color: var(--bs-list-group-bg);
	border: none;
}

.list-group-item::after {
	content: "";
	position: absolute;
	width: 47px;
	height: 0px;
	left: 13px;
	top: 61px;
	border: 2px solid #dfe2e6;
	transform: rotate(90deg);
}

.list-group-item:last-child::after {
	display: none;
}
