#section-5 {
	padding-bottom: 12px;
	padding-top: 52px;
}

.rules {
	width: 102px;
	height: 28px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	color: #243757;
	margin-bottom: 24px;
}

.allowedRules {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	width: 160px;
	height: 148px;
	border: 1px solid #ebedf0;
	border-radius: 8px;
	padding-top: 16px;
}

.allRule {
	width: 129px;
	height: 20px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	color: #42526d;
}

.allRuleImages {
	width: 44px;
	height: 44px;
}

.rulesAvailability {
	width: auto;
	min-width: 116px;
	height: 28px;
	bottom: 0px;
	border-radius: 8px 8px 0px 0px;
	background-color: #e9f3ee;
	margin-top: 16px;
	padding: 4px 11px;
}

.rulesImgAndStatus {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 4px;
	padding: 0px;
	width: auto;
	height: 20px;
}

.rulesStatusImg {
	width: auto;
	height: 16px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.rulesStatus {
	width: auto;
	height: 20px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	flex: none;
	order: 1;
	flex-grow: 0;
}
